target/
*~
.*.swp
*.log
*.patch
*.diff
.classpath
.project
.settings/
.metadata/
.wtpmodules
*.iml
*.tern-project
.idea/*
atlassian-ide-plugin.xml
.vagrant/
src/config/nginx/default.conf
rebel.xml
.DS_Store
MANIFEST.MF
.env
*.map
nohup.out
